<header class="header container">
  <h2 class="header__company">TC Montacargas</h2>
  <nav>
    <ul class="header__menu">
      <li class="header__link"><a href="#about">Acerca de</a></li>
      <li class="header__link"><a href="#services">Servicios</a></li>
      <li class="header__link"><a href="#contact">Contacto</a></li>
      <li class="header__line"></li>
      <li class="">
        <button id="theme-toggle" type="button" class="header__sun">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
          </svg>
        </button>
      </li>
      <li >
        <a class="header__resume button" href="#">Pend</a>
      </li>
    </ul>
    <button class="header__bars" type="button">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" >
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  </nav>
</header>
<!-- Mobile navigation -->
<div class="mobile-nav">
  <nav>
    <ul class="mobile-nav__menu">
      <li>
        <a class="mobile-nav__link" href="#about">Acerca de</a>
      </li>
      <li>
        <a class="mobile-nav__link" href="#services">Servicios</a>
      </li>
      <li>
        <a class="mobile-nav__link" href="#contact">Contacto</a>
      </li>
      <li class="mobile-nav__link_line"></li>
      <li>
        <button id="theme-toggle" type="button" class="mobile-nav__sun">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
          </svg>
        </button>
      </li>
      <li>
        <a class="mobile-nav__btn btn" href="#">Pend</a>
      </li>
    </ul>
  </nav>
</div>
<!-- End of mobile navigation -->
<main>
  <section class="hero container">
    <%= image_tag ("logo.png"), class: "hero__img", alt: "Logo" %>
    <h2 class="hero__subtitle">Tomás Carrillo Núñez</h2>
    <h1 class="hero__title">TC<br>MONTACARGAS</h1>
    <p class="hero__description">Con más de 40 años de experiencia en montacargas eléctricos y de combustión.</p>
    <a href="#" class="hero__btn btn">Pend</a>
  </section>
  <section id="about" class="about container section">
    <div class="about__content">
      <h2 class="about__title">Acerca de:</h2>
      <p class="about__description">Nos especializamos en la <strong>reparación y mantenimiento</strong> de equipos hidráulicos tales como <strong>montacargas, mulas y plataformas</strong>; brindando servicios confiables y de calidad para nuestros clientes en la región.</p>
      <p class="about__description">Nuestro enfoque principal es asegurar que tu equipo opere de manera <strong>óptima y segura</strong>.</p>
      <hr class="about__hr">
      <h3 class="about__subtitle">Tenemos experiencia con</h3>
      <div class="about__ul_container">
        <ul class="about__ul">
          <li class="about__list">Montacargas eléctricos</li>
          <li class="about__list">Montacargas de gas</li>
          <li class="about__list">Mulas eléctricas</li>
        </ul>
        <ul class="about__ul">
          <li class="about__list">Mulas mecánicas</li>
          <li class="about__list">Plataformas eléctricas</li>
          <li class="about__list">Motores hidráulicos en general</li>
        </ul>
      </div>
    </div>
    <div class="about__img_wrapper">
      <%= image_tag ("Professional_pic.png"), class: "about__img", alt: "Professional picture", loading: "lazy" %>
    </div>
  </section>
  <section id="services" class="work container section">
    <h2 id="servicios" class="work__title">Nuestros servicios</h2>
    <p class="work__description"></p>
    <p class="work__description"></p>
    <div class="work__container">
      <!-- Project 1 -->
      <h3 class="work__project_title">Mantenimiento correctivo</h3>
      <div class="work__img_wrapper work__image1">
        <%= image_tag ("mont_combustion.png"), alt: "Montacargas", loading: "lazy" %>
      </div>
      <div class="work__project work__content1">
        <h3 class="work__project_subtitle">Mantenimiento correctivo</h3>
        <p class="work__project_desc1">Contamos con años de experiencia en la industria de reparación de equipos hidráulicos.</p>
        <p class="work__project_desc2">Poseemos el conocimiento necesario para abordar una amplia gama de problemas y realizar reparaciones precisas y duraderas.</p>
        <a class="btn work__project_btn" href="#">Go</a>
      </div>
      <!-- Project 2 -->
      <h3 class="work__project_title">Mantenimiento preventivo</h3>
      <div class="work__img_wrapper work__image2">
        <%= image_tag ("mula_electrica.jpg"), alt: "Mula eléctrica", loading: "lazy" %>
      </div>
      <div class="work__project work__content2">
        <h3 class="work__project_subtitle">Mantenimiento preventivo</h3>
        <p class="work__project_desc1">Sabemos que el tiempo de inactividad de tus equipos puede generar costos innecesarios.</p>
        <p class="work__project_desc2">Por eso, ofrecemos programas de mantenimiento preventivo personalizados para maximizar la vida útil y el rendimiento de tus equipos hidráulicos.</p>
        <p class="work__project_desc2">A través de inspecciones regulares y servicios programados, te ayudaremos a evitar problemas antes de que ocurran.</p>
        <a class="btn work__project_btn" href="#">Go</a>
      </div>
      <!-- Project 3 -->
      <h3 class="work__project_title">Refacciones</h3>
      <div class="work__img_wrapper work__image3">
        <%= image_tag ("rep_mula_mecanica_rec.png"), alt: "Reparación de mula mecánica", loading: "lazy" %>
      </div>
      <div class="work__project work__content3">
        <h3 class="work__project_subtitle">Refacciones</h3>
        <p class="work__project_desc1">Ya sea que necesites reemplazar componentes específicos o realizar mejoras en tus equipos, tenemos la solución adecuada para ti.</p>
        <p class="work__project_desc2">Contamos con una amplia red de proveedores capaces de entregar refacciones de alta calidad ya sean originales, genéricas, nuevas o reconstruídas según tus necesidades y presupuesto.</p>
        <a class="btn work__project_btn" href="#">Go</a>
      </div>
      <!-- Project 4 -->
      <h3 class="work__project_title">Project 4</h3>
      <div class="work__img_wrapper work__image4">
        <%= image_tag ("plataforma_electrica_rec.jpg"), alt: "Plataforma eléctrica", loading: "lazy" %>
      </div>
      <div class="work__project work__content4">
        <h3 class="work__project_subtitle">Project 4</h3>
        <p class="work__project_desc1">Elit perferendis aut soluta error Ipsa sint doloremque nemo rerum maxime Neque illum eaque libero asperiores laboriosam Quos deserunt temporibus ad consequuntur repellat. Deserunt inventore fugit quaerat minus saepe.</p>
        <p class="work__project_desc2">Consectetur expedita eveniet tempora sed atque accusamus. Ex dignissimos repellat aliquid labore iusto dolorem Sequi lorem unde sequi nemo animi ea Animi qui voluptates dolores iure alias omnis. Tenetur aliquam.</p>
        <a class="btn work__project_btn" href="#">Go</a>
      </div>
      <!-- Project 5 -->
      <!-- <h3 class="work__project_title">Project 4</h3> -->
      <!-- <div class="work__img_wrapper work__image5"> -->
      <!--     <img loading="lazy" src="/Placeholder_5.png" alt="Project 5 placeholder"> -->
      <!-- </div> -->
      <!-- <div class="work__project work__content5"> -->
      <!--     <h3 class="work__project_subtitle">Project 5</h3> -->
      <!--     <p class="work__project_desc1">Amet optio provident ipsam laboriosam rerum laboriosam Minima animi veniam optio debitis obcaecati expedita perferendis at Obcaecati numquam natus voluptates aliquam dolores, repudiandae. Voluptatem iste ea rerum aut repellat Sapiente</p> -->
      <!--     <p class="work__project_desc2">Sit enim vitae illum alias distinctio. Commodi obcaecati quis sunt dolorem rem eius. Explicabo id fugiat debitis vero est? Accusantium modi quae ullam illum hic voluptatem Incidunt atque dolorum pariatur.</p> -->
      <!--     <a class="btn work__project_btn" href="#">Go</a> -->
      <!-- </div> -->
      <!-- Project 6 -->
      <!-- <h3 class="work__project_title">Project 6</h3> -->
      <!-- <div class="work__img_wrapper work__image6"> -->
      <!--     <img loading="lazy" src="/Placeholder_6.png" alt="Project 6 placeholder"> -->
      <!-- </div> -->
      <!-- <div class="work__project work__content6"> -->
      <!--     <h3 class="work__project_subtitle">Project 6</h3> -->
      <!--     <p class="work__project_desc1">Adipisicing quasi deserunt ex alias aspernatur Sapiente sapiente vero suscipit dignissimos commodi Repellat labore nesciunt minus neque laudantium accusamus? Omnis ipsum fugiat nam magnam ipsam? Veritatis enim maxime eveniet deleniti!</p> -->
      <!--     <p class="work__project_desc2">Ipsum ut earum id ab ut quia. Rem corporis molestias esse nesciunt rem earum unde Esse rem provident rerum ea officiis? Placeat excepturi quia nesciunt sapiente dolores illum! Provident voluptatum?</p> -->
      <!--     <a class="btn work__project_btn" href="#">Go</a> -->
      <!-- </div> -->
    </div>
  </section>
  <section id="contact" class="contact container section">
    <h2 class="contact__title">¡Contáctanos!</h2>
    <p class="contact__description">Dolor placeat quisquam perspiciatis voluptatem ut. Itaque dolorem veniam porro dolor maiores. Dolor voluptas voluptates distinctio reprehenderit voluptatem Dolorem repudiandae facilis et repellat cumque perferendis. Esse repellat laboriosam voluptas recusandae.</p>
    <a class="btn contact__btn" href="mailto:taco8918@hotmail.com" target="_blank">Reach out</a>
  </section>
  <section id="pdf" class="pdf container section">
    <div class="pdf__content">
      <button class="btn pdf__save_btn" onclick="savePdf()">Guardar</button>
    </div>
  </section>
</main>
<footer class="footer container section">
  <h4 class="footer__title">| Página creada por: <a href="#">Tomás Carrillo Obregón</a> |</h3>
</footer>
